header {
  background-color: #FF6806;
  display: flex;
  align-items: center;
  padding: 0.2em 4em 0.2em 0.2em;
}

header > img {
  height: 3em;
  margin-right: 0.5em;
}

.header-text {
  margin-right: 1em;
}

.header-text > h1 {
  margin: 0;
  font-size: 1.1em;
  font-weight: normal;
}

.search-box {
  flex: 1;
  position: relative;
}

.search-box > input{
  height: 2.4em;
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.1em;
  padding-left: 3.5em;
  color: rgba(0, 0, 0, 0.75);
}

.search-box > img {
  position: absolute;
  top: 0.5em;
  left: 1em;
}

.StoryList {
  padding-top: 0.4em;
  padding-bottom: 1em;
  background-color: #f6f6ef;
}

.Story {
  background-color: #f6f6ef;
  padding: 0.2em 1em;
}

.Story_title {
  color: black;
  text-decoration: none;
  margin-right: 0.5em;
  font-size: 0.9em;
}

.Story_source-link {
  color: #828282;
  font-size: 0.8em;
  text-decoration: none;
}

.Story_source-link:hover {
  text-decoration: underline;
}

.Story_metadata > a {
  color: #696969;
  font-size: 0.7em;
  margin-right: 0.5em;
  text-decoration: none;
}

.Story_metadata > a:hover {
  text-decoration: underline;
}


.Story_metadata > span {
  color: #696969;
  font-size: 0.7em;
  margin-right: 0.5em;
}
