body {
  font-size: 16px;
  margin: 0;
  padding-left: 3em;
  padding-right: 3em;
  font-family: Verdana, Geneva, sans-serif;    
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
